body {
}
.page {
}
    .page .toolbar {
        width:200px;
        min-height:800px;
    }
    .page .content {
        overflow:hidden;
        position:absolute;
        top:0px;
        border:1px solid red;
        margin-left:205px;
        float:left;
        width: 100%;
        height:800px;
    }