<div class="page">
    <div class="toolbar">
        <div>
            <label>Header</label>
            <input ng-model="vm.model.current.header" placeholder="Header" />
        </div>
        <div>
            <label>Sub-Header</label>
            <input ng-model="vm.model.current.subHeader" placeholder="Sub header" />
        </div>
    </div>
    <div class="content">
        <div class="reveal">
            <div class="slides">
                <slide-detail ng-repeat="item in vm.model.slides" model="item"></slide-detail>
            </div>
        </div>
    </div>

</div>

